body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    /* border: 2px solid black; */
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 5% 10%;
    position: relative;
    background-color: rgb(156, 154, 154);
}
.heading{
    font-size: 1.25em;
    margin: 0% 4%;
}
.description{
    font-size: 1.25em;
    margin: 3%;
}
.todo-section{
    height: 100%;
    width: 50%;
}
#show-tasks{
    /* border: 2px solid red; */
}
#write-tasks{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0%;
    right: 0%;
    border: none;
    border-radius: 0em 0.1em 0.1em 0em;
    background-color: rgb(224, 220, 220);
    width: 49%;
    height: 98.5%;
    font-size: 3.5em;
    resize: vertical;
}